<div class="navbar">
  <div class="navbar-inner">
    <div class="logo">
      <%= image_tag('logo.png') %>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
<!--     <%= link_to root_path do %>
      <div class="nav-element active" data-page-link="home">
        <p>Home</p>
      </div>
    <% end %>
    <div class="nav-element" data-page-link="programm">
      <p>Angebot</p>
    </div>
    <div class="nav-element" data-page-link="ueber-mich">
      <p>Über Mich</p>
    </div>
    <%= link_to kontakt_path do %>
      <div class="nav-element" data-page-link="kontakt">
        <p>Kontakt</p>
      </div>
    <% end %>
    <div class="nav-element last" data-page-link="achtsames">
      <p>Kurspläne</p>
    </div> -->
  </div>
</div>
