<%= render 'components/banner' %>
<div class="page-identifier" data-page="home"></div>
<div class="container">
  <div class="row quicklinks justify-content-center">
    <div class="col-12 col-lg-4 col-md-4">
      <%= link_to '#' do %>
        <div class="button-quicklink">
          <p>Mein Programm</p>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-4 col-md-4">
      <%= link_to '#' do %>
        <div class="button-quicklink">
          <p>Über Mich</p>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-4 col-md-4">
      <%= link_to '#' do %>
        <div class="button-quicklink">
          <p>Waldbaden</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
