.banner{
  height: 100vh;
  width: 100vw;
  background-color: $banner-background;
  display: flex;
  align-items: center;
}

.LBB-Title{
  height: 60%;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url(banner-placeholder);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  h1{
    font-family: $cursive-font;
    font-size: 100px;
  }
}

.fade-down{
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, rgba(244,244,244,1), rgba(244,244,244,0));
  // background: linear-gradient(180deg, rgba(205,227,247,1), rgba(205,227,247,0));
}

.fade-up{
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, rgba(244,244,244,0), rgba(244,244,244,1));
}
