.navbar{
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100vw;
  padding: 0;
  opacity: 0.9;
}

.navbar-inner{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 20px 0 20px;
  img{
    width: 125px;
    height: auto;
    padding: 5px 0;
  }
  a{
    color: black;
  }
  .logo{
    flex-grow: 1;
  }
}

.nav-element{
  padding: 10px;
  border-left: 1px solid $logo-blue;
  height: 100%;
  p{
    margin: 0;
  }
  &.last{
    border-right: 1px solid $logo-blue;
  }
  &.active{
    font-weight: bold;
  }
}
